ENVIRONMENT=development
PORT=8443

# Database connection
DATABASE_URL=postgres://library:p@localhost:5432/library?sslmode=disable

# TLS
TLS_ENABLED=true
TLS_CERT_PATH=pkg/config/tls/certificate.crt
TLS_KEY_PATH=pkg/config/tls/key.pem
